@model MenuRestaurant
<div class="container">
    <div class="row mt-2">
        <div class="col-6">
            <form asp-action="EditMenuRestaurant" asp-controller="Menu" asp-area="B2B">
                <input type="hidden" asp-for="MenuRestaurantId" />
                <div class="form-group">
                    <label>Menu Name</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <button class="btn btn-primary">Edit</button>
            </form>
        </div>
        <div class="col-6">
            <a class="btn btn-success btn-block" asp-action="CreateMenuCategory" asp-controller="Menu" asp-area="B2B" asp-route-MenuRestaurantId="@Model.MenuRestaurantId">Category Ekle</a>
            @if(Model.MenuCategories.Count>0 && Model.MenuCategories.Count > 0)
            {
               @foreach (var item in Model.MenuCategories)
               {
                   <div class="row p-3">
                       <div class="col-6">
                           <h5 class="font-weight-bold">
                               @item.Name
                           </h5>                          
                       </div>
                       <div class="col-6">
                           <a class="btn btn-primary btn-sm" asp-action="EditMenuCategory" asp-controller="Menu" asp-area="B2B" asp-route-MenuRestaurantId="@Model.MenuRestaurantId" asp-route-categoryId="@item.MenuCategoryId">Edit</a>
                       </div>
                   </div>
               }
            }
        </div>
    </div>
</div>